@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oxygen:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding: 10px;
}

textarea {
    resize: none;
}

label {
    margin-bottom: 3px;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #ccc5b9;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.box-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px;
}

.box-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 5px;
    align-items: center;
}

.checkBox {
    margin-left: 10px;
}

.button {
    background-color: #eb5e28;
    border: transparent;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    margin: 10px 0px;
}

.button:hover {
    background-color: #eb4908;
}

.btnRound {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: transparent;
    color: #eb5e28;
}

.btnRound:hover {
    background-color: #eb5e28;
    color: white;
    transition: 0.5s;
}

.justify-center {
    justify-content: center;
}

.justify-baseline {
    justify-content: baseline;
}

.border-valid {
    border: 2px green solid;
}

.border-invalid {
    border: 2px red solid;
}

.info {
    margin-left: 20px;
}

.textInfo {
    font-size: 0.8rem;
}

#cajaFormulario {
    width: 70%;
    height: auto;
    background-color: #fffcf2;
    border: 2px solid #252422;
    border-radius: 15px;
    align-items: center;
}

#cajaDatos {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#boxButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnContacto {
    position: absolute;
    left: 3%;
    bottom: 3%;
}

#btnMensajes {
    position: absolute;
    right: 3%;
    bottom: 3%;
}

.notificaciones {
    width: 400px;
    height: 30px;
    background-color: #eb5e28;
    border-radius: 20px;
    border: 2px white solid;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    margin: auto;
}

.btnTrash {
    position: relative;
    right: 0px;
    top: 0px;
}

#btnCobros {
    position: absolute;
    top: 3%;
    left: 3%;
}

#btnRH {
    position: absolute;
    top: 9%;
    left: 3%
}

#btnService {
    position: absolute;
    top: 15%;
    left: 3%
}

#btnAll {
    position: absolute;
    top: 21%;
    left: 3%;
}

.cajaMensaje {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0px;
}

.cajaMensaje i {
    position: relative;
    right: 0px;
    top: 0px;
}

.infoMensaje {
    display: flex;
    flex-direction: column;
}

.bordeCobros {
    border: 2px red solid;
}

.bordeRH {
    border: 2px blue solid;
}

.bordeServicioAlCliente {
    border: 2px green solid;
}


/* Quitar flechas en el input number */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

nput[type=number] {
    -moz-appearance: textfield;
}